@model LinkshellManager.Models.Item

@{
    ViewData["Title"] = "Edit Item";
    var linkshells = ViewBag.Linkshells as List<LinkshellManager.Models.Linkshell>;
}

<h2>Edit Item</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label hidden asp-for="LinkshellId" class="control-label">Linkshell</label>
        <select hidden asp-for="LinkshellId" class="form-control" asp-items="@(new SelectList(linkshells, "Id", "LinkshellName"))"></select>
    </div>
    <div class="form-group">
        <label asp-for="LinkshellName" class="control-label"></label>
        <input asp-for="LinkshellName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ItemName" class="control-label"></label>
        <input asp-for="ItemName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ItemType" class="control-label"></label>
        <input asp-for="ItemType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <input asp-for="Notes" class="form-control" />
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>